<app-nav-bar></app-nav-bar>
<div class="container content">
  <div class="col-4 pb-2">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Buscar" 
      name="filter" 
      [(ngModel)]="filter"
      (ngModelChange)="filtrarItems()"
    >
  </div>

  <div class="row d-flex justify-content-center align-items-center">
    <div class="container table-responsive">
      <table  class="table table-bordered">
        <thead class="table-warning">
          <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of dataFilter">
            <td scope="row">{{ dato.id }}</td>
            <td>{{ dato.name }}</td>
            <td>{{ dato.lastname }}</td>
            <td>{{ dato.email }}</td>
            <td class="d-flex justify-content-center"> 
              <button 
                class="btn btn-light"
              > ✏️ 
              </button>
              <button 
                class="btn btn-light"
              > ❌ 
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>